<!doctype HTML>
<html>
    <body>

        <h1>Team Data</h1>
        {% if league == 'seriea' %}
        <form action= "{{url_for('seriea')}}" method = 'POST'>
        {% elif league == 'epl' %}
        <form action= "{{url_for('epl')}}" method = 'POST'>
        {% elif league == 'bundesliga' %}
        <form action= "{{url_for('bundesliga')}}" method = 'POST'>
        {% elif league == 'laliga' %}
        <form action= "{{url_for('laliga')}}" method = 'POST'>
        {% else %}
        <form action= "{{url_for('ligue1')}}" method = 'POST'>
        {% endif %}
            <p>Search for Club</p>
            <input id='name' type = 'text' name = 'name'>
            <input type='submit', value='Search'>
        </form>

        <table border="1">
            <th>Rate</th>
            <th>Club Name</th>
            <th>Stadium Name</th>
            <th>Capacity</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th>Pts</th>
            {% for item in items %}
            <tr>
                <td>{{ item.Rate }}</td>
                <td>{{ item.Fname }}</td>
                <td>{{ item.Sname }}</td>
                <td>{{ item.Capacity }}</td>
                <td>{{ item.GF }}</td>
                <td>{{ item.GA }}</td>
                <td>{{ item.GD }}</td>
                <td>{{ item.Pts }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
