<!doctype HTML>
<html>
    <body>
        <table border="1">
            <th>Name</th>
            <th>Nationality</th>
            <th>Club</th>
            <th>Position</th>
            <th>Clubjoin Date</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Preferred Foot</th>
            <th>Birth</th>
            {% for item in items %}
            <tr>
                <td>{{ item.Name }}</td>
                <td>{{ item.Nationality }}</td>
                <td>{{ item.Club }}</td>
                <td>{{ item.Position }}</td>
                <td>{{ item.Clubjoin }}</td>
                <td>{{ item.Height }}</td>
                <td>{{ item.Weight }}</td>
                <td>{{ item.PrefferedFoot }}</td>
                <td>{{ item.Birth }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
