<!doctype HTML>
<html>
    <head>
        <style>
            h1 {
                font-size: 100px;
                text-align: center;
            }
            p {
                font-size: 50px;
                text-align: center;
                width: 300px;
                border: 5px solid green;
                border-radius: 20px;
                padding: 20px 20px 20px 20px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <h1>Football Transfer</h1>
        <br><br><br><br><br><br>
        <p><a href={{url_for('select_league')}}>Select a League</a></p>
        <br><br><br><br><br>
        <p><a href={{url_for('transfer_data')}}>Transfer Data</a></p>
    </body>
</html>

