<!DOCTYPE html>
<html>
<body>
    <h1>Transfer Data</h1>

    <form action= "{{url_for('search_team')}}" method = 'POST'>
        <p>Search for Club</p>
        <input id='name' type = 'text' name = 'name'>
        <input type='submit', value='Search'>
    </form>

    <table border="1">
        <th>Player</th>
        <th>Window</th>
        <th>Position</th>
        <th>Country</th>
        <th>From</th>
        <th>To</th>
        <th>Description</th>
        <th>Price</th>
        <th>League</th>
        {% for item in items %}
        <tr>
            <td>{{ item.Player }}</td>
            <td>{{ item.Window }}</td>
            <td>{{ item.Position }}</td>
            <td>{{ item.Country }}</td>
            <td>{{ item.From }}</td>
            <td>{{ item.To }}</td>
            <td>{{ item.Description }}</td>
            <td>{{ item.Price }}</td>
            <td>{{ item.League }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>