<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            font-size: 50px;
        }
    </style>
 </head>
<body>
    <h1>Transfer Data</h1>
    {% if mode =='player' %}
    <form action= "{{url_for('search_player')}}" method = 'POST'>
    <p>Search for player name</p>
    {% elif mode =='team' %}
    <form action= "{{url_for('search_team')}}" method = 'POST'>
    <p>Search for club name</p>
    {% elif mode =='league' %}
    <form action= "{{url_for('search_league')}}" method = 'POST'>
    <p>Search for league name</p>
    {% endif %}
        <input id='name' type = 'text' name = 'name'>
        <input type='submit', value='Search'>
    <br><br>
    </form>

    <table border="1">
        <th>Player</th>
        <th>Window</th>
        <th>Position</th>
        <th>Country</th>
        <th>From</th>
        <th>To</th>
        <th>Description</th>
        <th>Price</th>
        <th>League</th>
        {% for item in items %}
        <tr>
            <td>{{ item.Player }}</td>
            <td>{{ item.Window }}</td>
            <td>{{ item.Position }}</td>
            <td>{{ item.Country }}</td>
            <td>{{ item.From }}</td>
            <td>{{ item.To }}</td>
            <td>{{ item.Description }}</td>
            <td>{{ item.Price }}</td>
            <td>{{ item.League }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>