<!doctype HTML>
<html>
    <head>
        <style>
            h1 {
                font-size: 100px;
                text-align: center;
            }
            a {
                font-size: 50px;
                text-align: center;
                width: 300px;
                border: 5px solid green;
                border-radius: 20px;
                padding: 20px 20px 20px 20px;
                margin: 750px;
            }
        </style>
    </head>
    <body>
        <h1>Select a League</h1>
        <br><br><br><br>
        <a href={{url_for('bundesliga')}}>Bundesliga</a>
        <br><br><br><br>
        <a href={{url_for('epl')}}>EPL</a>
        <br><br><br><br>
        <a href={{url_for('laliga')}}>LaLiga</a>
        <br><br><br><br>
        <a href={{url_for('ligue1')}}>Ligue1</a>
        <br><br><br><br>
        <a href={{url_for('seriea')}}>SerieA</a>
    </body>
</html>
