<!doctype HTML>
<html>
    <head>
        <style>
            h1 {
                font-size: 100px;
                text-align: center;
            }
            a {
                font-size: 50px;
                text-align: center;
                width: 300px;
                border: 5px solid green;
                border-radius: 20px;
                padding: 20px 20px 20px 20px;
                margin: 750px;
            }
        </style>
    </head>
    <body>
        <h1>Transfer Data</h1>
        <br><br><br><br>
        <a href={{url_for('full_transfer_data')}}>Full Transfer Data</a>
        <br><br><br><br>
        <a href={{url_for('search_player')}}>Search Player</a>
        <br><br><br><br>
        <a href={{url_for('search_team')}}>Search Club</a>
        <br><br><br><br>
    </body>
</html>
